__pycache__/
*.py[cod]
*$py.class
*.so
*.egg-info/
dist/
build/
*.egg
.eggs/
*.spec

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
Thumbs.db
Desktop.ini
.DS_Store

# Temp build dirs
rombuild_*/
mkota_*/
